.elementor-1215 .elementor-element.elementor-element-2d1470c {text-align: center;}
.elementor-1215 .elementor-element.elementor-element-2d1470c .elementor-heading-title {color: var(--e-global-color-astglobalcolor1);}
.elementor-1215 .elementor-element.elementor-element-e206c46 {--e-image-carousel-slides-to-show: 1;}