.elementor-152 .elementor-element.elementor-element-1e3b00e:not(.elementor-motion-effects-element-type-background), .elementor-152 .elementor-element.elementor-element-1e3b00e > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: var(--e-global-color-astglobalcolor0);}
.elementor-152 .elementor-element.elementor-element-1e3b00e {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-152 .elementor-element.elementor-element-1e3b00e > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-152 .elementor-element.elementor-element-1100b2c {text-align: center;}
.elementor-152 .elementor-element.elementor-element-2ad3229 {text-align: center;}
.elementor-152 .elementor-element.elementor-element-977570a {text-align: center;}
.elementor-152 .elementor-element.elementor-element-7a5278c {text-align: center;color: var(--e-global-color-astglobalcolor0);}
.elementor-152 .elementor-element.elementor-element-7a5278c > .elementor-widget-container {background-color: var(--e-global-color-astglobalcolor0);}
.elementor-152 .elementor-element.elementor-element-99491b7 {text-align: center;}
.elementor-152 .elementor-element.elementor-element-ba8c1d4 img {width: 66%;}
.elementor-152 .elementor-element.elementor-element-9166780 img {width: 61%;}
.elementor-152 .elementor-element.elementor-element-d289e99 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 2px;}
.elementor-152 .elementor-element.elementor-element-d289e99 .elementor-divider-separator {width: 100%;}
.elementor-152 .elementor-element.elementor-element-d289e99 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-152 .elementor-element.elementor-element-b293852 {text-align: center;}
.elementor-152 .elementor-element.elementor-element-e008c3a {text-align: center;}
.elementor-152 .elementor-element.elementor-element-4648a76 .elementor-button {background-color: var(--e-global-color-astglobalcolor2);}