.elementor-154 .elementor-element.elementor-element-8bf16c3 {text-align: center;}
.elementor-154 .elementor-element.elementor-element-8bf16c3 .elementor-heading-title {color: var(--e-global-color-astglobalcolor1);}
.elementor-154 .elementor-element.elementor-element-0e704c4 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-154 .elementor-element.elementor-element-0e704c4 .elementor-divider-separator {width: 100%;}
.elementor-154 .elementor-element.elementor-element-0e704c4 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-154 .elementor-element.elementor-element-a3c75c9 {text-align: center;}
.elementor-154 .elementor-element.elementor-element-fd555fb {--e-image-carousel-slides-to-show: 1;}
.elementor-154 .elementor-element.elementor-element-2e1a248 {text-align: center;}
.elementor-154 .elementor-element.elementor-element-82e029a {--e-image-carousel-slides-to-show: 1;}
.elementor-154 .elementor-element.elementor-element-622a114 {text-align: center;}
.elementor-154 .elementor-element.elementor-element-8cad955 {--e-image-carousel-slides-to-show: 2;}